<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    </head>
    <body>
        <div id="simple8">
                <input type="text" v-model="name">
                <div v-for="info in contacts">
                    <ul v-show="name == info.name">
                        <li>{{info.no}}</li>
                        <li>{{info.name}}</li>
                        <li>{{info.tel}}</li>
                        <li>{{info.address}}</li>
                    </ul>
                </div>
                <table id="list">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th>주소</th>
                        </tr>
                    </thead>
                    <tbody id="wrap-table">
                        <tr v-for="info in contacts">
                            <td>{{info.no}}</td>
                            <td>{{info.name}}</td>
                            <td>{{info.tel}}</td>
                            <td>{{info.address}}</td>
                        </tr>
                    </tbody>
                </table>

        </div>
        <script>
            var model8 = {
                name: '',
                "pageno": 1,
                "pagesize": 10,
                "totalcount": 100,
                "contacts": [
                    {"no":100, "name":"설현", "tel": "010-3456-8299", "address": "안산"},
                    {"no":99, "name":"혜리", "tel": "010-1111-3499", "address": "서산"},
                    {"no":98, "name":"하니", "tel": "010-3126-8439", "address": "서울"},
                    {"no":97, "name":"성현", "tel": "010-3123-8457", "address": "부산"}
                ]
            }

            var list = new Vue({
                el : "#simple8",
                data: model8
            })
        </script>
    </body>
</html>