<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <style>
        .divider {
            height: 2px;
            background-color: gray;
        }
    </style>
</head>
<body>
    <div id="simple9">
        <select name="" id="">
            <option v-for="(val, key, index) in regions" v-bind:value="key">{{key}}</option>
        </select>
        <select name="" id="">
            <option value="">선택</option>
            <option v-for="(val, key, index) in regions" v-bind:value="key">{{index + 1}} : {{key}}</option>
        </select>
    </div>

    <script>
        var regionList = {
            "수도권" : "강남역",
            "부산" : "부산역",
            "중국" : "북경역"
        }

        var region = new Vue({
            el: "#simple9",
            data: {
                regions: regionList
            }
        });
    </script>
</body>
</html>