<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chapter02</title>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>        
    </head>
    <body>
        <div id="chapter02">
            <section id="task01">
                <h2>1. 콧수염 모델을 사용하여 한번, v-text/v-html 디렉티브를 사용하여 한번 화면에 자신의 이름을 나오게 하세요.</h2>
                <p>{{task01.nameType1}}</i></p>
                <p v-text="task01.nameType2"></p>
                <p v-html="task01.nameType3"></p>
            </section>

            <section id="task02">
                <h2>2. 본인이 속한 팀을 입력받고, "저는 ***팀 소속입니다" 가 나오도록 하세요.</h2>
                <label for="inputTeamName">
                    소속 팀: <input type="text" id="inputTeamName" v-model="task02.teamName" placeholder="팀명을 입력하세요.">
                </label>
                <p v-if="task02.teamName != ''">저는 <span v-html="task02.teamName"></span>팀 소속입니다.</p>
            </section>

            <section id="task03">
                <h2>3. 스터디 하는 사람들을 체크박스로 만들고, 그 중 제일 잘먹는 사람을 체크하면 "우리 중 제일 잘 먹는 사람은 *** 입니다." 가 나오도록 하세요.</h2>
                <label for="member1"><input type="radio" name="member" id="member1" v-model="task03.member" value="유혜진">유혜진</label>
                <label for="member2"><input type="radio" name="member" id="member2" v-model="task03.member" value="전동엽">전동엽</label>
                <label for="member3"><input type="radio" name="member" id="member3" v-model="task03.member" value="전정호">전정호</label>
                <label for="member4"><input type="radio" name="member" id="member4" v-model="task03.member" value="신지은">신지은</label>
                <label for="member5"><input type="radio" name="member" id="member5" v-model="task03.member" value="배인환">배인환</label>
                <label for="member6"><input type="radio" name="member" id="member6" v-model="task03.member" value="윤경아">윤경아</label>
                <label for="member7"><input type="radio" name="member" id="member7" v-model="task03.member" value="김민수">김민수</label>
                <p v-if="task03.member != ''">우리 중 제일 잘 먹는 사람은 <span v-html="task03.member"></span> 입니다.</p>
            </section>   

            <section id="task04">
                <h2>4. 몸무게와 키를 입력하면 각각에 결과에 맞는 텍스트가 나오도록 하세요.</h2>
                <label for="inputWeight">
                    몸무게: <input type="text" id="inputWeight" v-model="task04.weight">
                </label>
                <label for="inputHeight">
                    키: <input type="text" id="inputHeight" v-model="task04.height">
                </label>
                <p>
                    <span v-if="BMI <= 18.5">많이 드세요</span>
                    <span v-else-if="BMI < 23">적당히 드세요</span>
                    <span v-else-if="BMI < 25">먹는 양을 조금 줄이세요</span>
                    <span v-else-if="BMI < 30">그만 드세요</span>
                    <span v-else-if="BMI >= 30">우리 중에는 이런 사람이 없어요</span>
                </p>
            </section>

            <section id="task05">
                <h4>5. 이름을 입력받고 입력받은 사람의 이미지 또는 텍스트가 보이도록 하세요.</h4>
                <input type="text" v-model="task05.name" placeholder="이름을 입력하세요.">
                <p v-show="task05.name != ''">
                    way1 :
                    <span v-show="task05.name == '유혜진'">YooHyejin</span>
                    <span v-show="task05.name == '김민수'">KimMinsoo</span>
                    <span v-show="task05.name == '신지은'">ShinJieun</span>
                </p>
                
                <p v-if="task05.name != ''">
                    way2 :
                    {{task05Result}}
                </p>
            </section>

            <section class="task06">
                <h4>6. v-show와 v-if는 무슨 차이점이 있을까요?</h4>
                <p>
                    v-if : v-if 디렉티브를 사용한 element의 event listener와 자식 컴포넌트들이 DOM에 제거되거나 삽입되는 진짜 조건부 렌더링<br>
                    v-show : DOM에 항상 삽입되고 display style을 통해 화면에 그려지거나 그려지지 않는 조건부 렌더링
                </p>
                <div class="box">
                    <!-- v-if Test -->
                    <p v-show="task06.visible" v-html="task06.exShow"></p>
                    <!-- v-show Test -->
                    <p v-if="task06.value > 9">value가 9보다 커요.</p>
                </div>    
            </section>

            <section class="task07">
                <h4>7. v-pre 와 v-once는 각각 무슨 특징을 가지고 있을까요?</h4>
                <p>
                    v-pre : 특정 엘리먼트를 무시하는데 사용. Vue 시스템에서 해당 엘리먼트는 지시문이 없다는걸 인식하게 되어 그 엘리먼트 내부의 자식엘리먼트들을 신경쓰지 않고 그냥 건너뜀. 따라서, 컴파일 속도가 빨라진다는 장점이 있음<br>
                    v-once : 컴포넌트를 초기에 딱 한번만 렌더링. 즉, 자바스크립트에서 사용하는 데이터를 사용하긴 하는데, 변동이 없고 한결같은 정적인 부분을 보여줄 때 사용
                </p>   
                <div class="box">
                    <p v-if="task07.value > 5">value 가 5보다 크군요</p>
                    <p v-else-if="task07.value === 5">값이 5네요</p>
                    <p v-else>value 가  5보다 작아요</p>
                    <p v-once>초기 값: {{task07.value}}</p>
                    <p>현재 값: {{task07.value}}</p>
                    <p v-pre>{{task07.value}}</p>
                </div> 
            </section>

            <section id="task08">
                <h4>8. 이름을 입력받으면 그 사람의 정보가 나오도록 하세요. ( 정보는 최소 3명 이상으로 합니다.) 정보 (이름 소속팀 나이)</h4>
                <input type="text" v-model="task08.name" placeholder="이름을 입력하세요.">
                <table>
                    <thead>
                        <tr v-if="task08.name != ''">
                            <th>이름</th>
                            <th>소속</th>
                            <th>나이</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="info in task08Result" v-if="task08.name != ''">
                            <td>{{info.name}}</td>
                            <td>{{info.team}}</td>
                            <td>{{info.age}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section id="task09">
                <h4>9. 현재 스터디하는 9명의 이름, 성별, 휴대폰 번호를 입력한 뒤 5번째 사람의 정보에는 노란색을 칠해주세요.</h4>
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>소속</th>
                            <th>성별</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(info, index) in task09.infoList" v-bind:style="index === 4 ? 'background:yellow' : null">
                            <td>{{index+1}}</td>
                            <td>{{info.name}}</td>
                            <td>{{info.team}}</td>
                            <td>{{info.sex}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <style>
            section + section {margin-top: 50px;}
            section h2 {font-size: 16px; font-weight: bold;}
            section .box {padding:10px 30px; background: #eee;}
            section table {border-collapse: collapse;}
            section table tr th, section table tr td {padding: 5px 10px; text-align: center;}
        </style>

        <script>

            var model = {

                task01: {
                    nameType1 : "유혜진 <i>콧수염 템플릿</i>",
                    nameType2 : "유혜진 <i>v-text</i>",
                    nameType3 : "유혜진 <i>v-html</i>",
                },

                task02: {
                    teamName : "", 
                },   

                task03: {
                    member : "",
                },

                task04: {
                    weight : "",
                    height : "",
                },

                task05: {
                    name : "",
                    infoList : [
                        { name : "유혜진", engName : "YooHyejin"},
                        { name : "김민수", engName : "KimMinsoo"},
                        { name : "신지은", engName : "ShinJieun"}
                    ]
                },

                task06: {
                    text : "보여줄까말까",
                    visible : true,
                    value : 0,
                },

                task07: {
                    value : 0,
                },
     
                task08: {
                    name : "",
                    infoList : [
                        { name : "유혜진", team : "프론트엔드팀", age : 31},
                        { name : "전동엽", team : "frontend Team", age : 31},
                        { name : "배인환", team : "FET", age : 29}
                    ]
                },
     
                task09: {
                    name : "",
                    infoList : [
                        { name : "유혜진", team : "프론트엔드", sex : "여"},
                        { name : "전동엽", team : "프론트엔드", sex : "남"},
                        { name : "전정호", team : "프론트엔드", sex : "남"},
                        { name : "신지은", team : "프론트엔드", sex : "여"},
                        { name : "양원석", team : "기술연구소", sex : "남"},
                        { name : "배인환", team : "프론트엔드", sex : "남"},
                        { name : "윤경아", team : "프론트엔드", sex : "여"},
                        { name : "주영희", team : "기술연구소", sex : "여"},
                        { name : "김민수", team : "프론트엔드", sex : "남"}
                    ]
                },


            };

            var chapter02 = new Vue({
                el : "#chapter02",
                data : model,
                computed : {
                    
                    BMI() {
                        console.log(this); //this는 Vue 객체 
                        const task04 = this.task04;
                        const _weight = task04.weight;
                        const _height = task04.height;

                        if(_weight > 0 && _height > 0) {
                            return _weight / (_height * _height / 10000);
                        }                        
                    },

                    task05Result() {
                        const $this = this.task05;
                        const inputText = $this.name;
                        const infoList = $this.infoList;
                        const outputInfo = infoList.find(v => inputText == v.name)

						if(outputInfo) return outputInfo.engName;
						else return '등록된 정보가 없습니다.';

                    },

                    task08Result() {
                        const $this = this.task08;
                        const name = $this.name;

                        return $this.infoList.filter(function(item, index) {
                            if (item.name.indexOf(name) > -1) {
                                return true;
                            }
                        });
                    }
                },
            });
            
            console.log(document.getElementById("task01").innerHTML);
            
    
        
        </script>
    </body>
</html>