<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <style>
        ul, li {
            list-style-type: none;
        }

    </style>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div>
        **정리
        1. Vue.component()를 만들면 new Vue({ el: "" })은 Vue.component 보다 뒤에 와야한다.
        ==> 이유 : dom로드 될 시 template이 없는 상태.

        2. el 은 컴포넌트를 감싸고 있는 그 부모여야한다.
            <div id="here">
                <test-component></test-component>
            </div>

            Vue.component("test-component", {});
            new Vue({el: "#here"})

        3. eventBus를 사용하면 제이쿼리처럼 on, emit(==trigger) 등 이벤트를 줄 수 있다.
        ==> 하지만 잘 모르겠다.

        4. 컴포넌트에 :나 속성을 주면 new Vue()에서 컨트롤 할 수 있다.
    </div>
    <dl id="test1">
        <dt>
            1. 기본적인 컴포넌트를 사용하여 오늘은 목요일입니다. 가 노출되게 하세요.
        </dt>
        <dd>
            <div id="today">
                <today-component></today-component>
            </div>
        </dd>
        <dd>
            <div id="today2">
                <today2-component></today2-component>
            </div>
            <template id="todaytemplate">
                <span>오늘은 목요일2입니다.</span>
            </template>
        </dd>
    </dl>
    <script>
        Vue.component("today-component", {
            template: "<p>오늘은 목요일입니다.</p>"
        });
        Vue.component("today2-component", {
            template: "#todaytemplate"
        });
        const answer1 = new Vue({
            el: "#test1"
        })
    </script>

    <dl id="test2">
        <dt>
            2. 버튼을 클릭하면 현재 시간과 요일이 나오게 만들어주세요.
        </dt>
        <dd>
            <template id="timeTemplate">
                <div>
                    <span>{{now}}</span>
                    <button v-on:click='timeStamp'>현재?</button>
                </div>
            </template>
            <div id="templateUse">
                <current-component></current-component>
            </div>
        </dd>
    </dl>
    <script>
        Vue.component("current-component", {
            template: "#timeTemplate",
//            template: "<button v-on:click='timeStamp'>현재시간은?</button>",

            data: function () {
                return {
                    now: null,
                }
            },

            methods: {
                timeStamp: function (e) {
                    console.log(e.target);
                    const date = new Date();
                    const current = date.getHours() + "시" + date.getMinutes() + "분";
                    let day = "";

                    switch (date.getDay()) {
                        case 1:
                            day = "월요일"
                            break;
                        case 2:
                            day = "화요일"
                            break;
                        case 3:
                            day = "수요일"
                            break;
                        case 4:
                            day = "목요일"
                            break;
                        case 5:
                            day = "금요일"
                            break;
                        case 6:
                            day = "토요일"
                            break;
                        case 7:
                            day = "일요일"
                            break;
                    }

                    this.now = day + " " + current;
                }
            }
        });
        const answer2 = new Vue({
            el: "#templateUse",
        });
    </script>
    <dl id="test3">
        <dt>
            3.3.컴포넌트 이벤트 버스를 사용하여 임의로 현재 클릭수를 지정하고 플러스 버튼 클릭시 화면에 클릭수가 증가하는 것을 보여주고, 마이너스 버튼을 클릭하면 현재클릭수가 감소하도록 만들어주세요.
            ex) 현재 클릭수 : 2
            마이너스 버튼 클릭시 -> 현재클릭수 : 1
            플러스 버튼 클릭시 -> 현재클릭수 : 3
        </dt>
        <dd>
            <template id="btnTemplate">
                <div>
                    <button v-on:click="minusClick">minus</button>
                    <button v-on:click="plusClick">plus</button>
                </div>
            </template>
            <template id="countTemplate">
                <div>
                    <span>{{clickCount}}</span>
                </div>
            </template>
            <div id="resultClick">
                <btn-component></btn-component>
                <count-component></count-component>
            </div>

        </dd>
    </dl>
    <script>
        const eBus = new Vue();

        Vue.component("btn-component", {
            template: "#btnTemplate",
            data: function () {
                return {
                    count: 0,
                }
            },
            methods: {
                plusClick: function () {
                    this.count++;
                    eBus.$emit("event-count", this.count);
                },
                minusClick: function () {
                    this.count--;
                    eBus.$emit("event-count", this.count);
                }
            }
        });

        Vue.component("count-component", {
            template: "#countTemplate",
            data: function () {
                return {
                    clickCount: 0,
                }
            },
            created: function () {
                eBus.$on("event-count", this.countChange);
            },
            methods: {
                countChange: function (count) {
                    this.clickCount = count;
                }
            }

        })

        const answer3 = new Vue({
            el: "#resultClick"
        })
    </script>

    <!--<section id="self1">-->
        <!--<template id="listTemplate">-->
            <!--<li>{{message}}</li>-->
        <!--</template>-->
        <!--<div id="appself1">-->
            <!--<ul>-->
                <!--<list-component message="hello" :lcount=6></list-component>-->
                <!--<list-component message="nihao" :lcount=8></list-component>-->
                <!--<list-component :lcount=5></list-component>-->
                <!--<list-component message="gonnichiwa" :lcount=4></list-component>-->
                <!--<list-component message="hola" :lcount=3></list-component>-->
                <!--<list-component :lcount=1></list-component>-->
                <!--<list-component :lcount=2></list-component>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</section>-->
    <!--<script>-->
        <!--Vue.component("list-component", {-->
            <!--template: "#listTemplate",-->
            <!--props: {-->
                <!--message: {-->
                    <!--type: String,-->
                    <!--default: "안녕하세요"-->
                <!--},-->
                <!--lcount: {-->
                    <!--type: Number,-->
                    <!--required: true-->
                <!--}-->
            <!--}-->
        <!--});-->
        <!--const answer4 = new Vue({-->
            <!--el: "#appself1"-->
        <!--})-->
    <!--</script>-->
    <section id="self5">
        <template id="contactTemplate">
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>번호</th><th>이름</th><th>주소</th>
                    </tr>
                    </thead>
                    <tbody id="contacts">
                        <tr>
                            <td>1124</td>
                        </tr>
                        <tr v-for="contact in contactlisttype">
                            <td>{{contact.no}}</td>
                            <td>{{contact.name}}</td>
                            <td>{{contact.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
        <h3>예방접종</h3>
        <dl id="result5">
            <dt>1차 대상자 5월 1~3일</dt>
            <dd v-for="list in list1">
                <span>{{list.no}}</span>
                <span>{{list.name}}</span>
                <span>{{list.address}}</span>
            </dd>
            <dd>
                <contactlist-component :contactlisttype="list1"></contactlist-component>
            </dd>
            <dt>2차 대상자 5월 1~3일</dt>
            <dd>
                <contactlist-component :contactlisttype="list2"></contactlist-component>
            </dd>
        </dl>
    </section>

    <script>
        Vue.component("contactlist-component", {
            template: "#contactTemplate",
            props: ["contactlisttype"]
        })
        const answer5 = new Vue({
            el: "#result5",
            data: {
                list1:[
                    {"no":97,"name":"주영희","address":"서울"},
                    {"no":96,"name":"주영희","address":"서울"},
                    {"no":95,"name":"주영희","address":"서울"}
                ],
                list2:[
                    {"no":87,"name":"주영희","address":"서울"},
                    {"no":86,"name":"주영희","address":"서울"}
                ]
            }
        })
    </script>
</body>
</html>